<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
  <div class="h-Main_Content">
    <div class="h-main_Content_Placeholder">
      <span class="h-Main_Username userinfo-dsf-name"></span>
    </div>
    <a class="h-Menu_Trigger-mobile" href="" role="button">
      <span class="fa fa-bars"></span>
    </a>
    <div id="js-menues" class="h-Menu_Container">
      <span class="h-Main_Username userinfo-dsf-name"></span>
      <a id="LOGOUT_MINPROFIL" class="h_Main_Content_Link" href=""><!--TODO:riktig href link-->
        <span>Logg ut</span>
      </a>
      <nav class="h-Menu">
        <a class="h-Menu_Trigger" href="">
          <span>Språk</span>
          <span class="fa fa-angle-down fa-lg"></span>
        </a>
        <ul>
          <li>
            <a href="?locale=nb" class="h-Main_Menu_Element">Bokmål</a>
          </li>
          <li>
            <a href="?locale=nn" class="h-Main_Menu_Element">Nynorsk</a>
          </li>
          <li>
            <a href="?locale=en" class="h-Main_Menu_Element">Engelsk</a>
          </li>
          <li>
            <a href="?locale=se" class="h-Main_Menu_Element js-last">Sàmegiella</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
</body>
</html>