<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MinID</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Autentisering med MinID">

    <link rel="preload" nonce="" th:href="@{/fonts/open-sans/open-sans.min.css}" as="style">
    <link rel="preload" nonce="" th:href="@{fonts/font-awesome/css/font-awesome.min.css}" as="style">
    <link rel="preload" nonce="" th:href="@{/css/style.css}" as="style">
    <link rel="preload" nonce="" th:href="@{/js/header.js}" as="script">
    <link rel="preload" nonce="" th:href="@{/js/minid-menu.js}" as="script">
    <link rel="preload" nonce="" th:href="@{/js/minid-menu-toggle.js}" as="script">
    <link rel="preload" nonce="" th:href="@{/js/jquery-3.6.1.min.js}" as="script">
    <link rel="preload" nonce="" th:href="@{/js/jquery-ui-1.13.2/jquery-ui.min.js}" as="script">

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
    <link nonce="" rel="manifest" th:href="@{/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/safari-pinned-tab.svg}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script nonce="" type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
    <script nonce="" type="text/javascript" src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <script nonce="" type="text/javascript" src="/js/header.js"></script>
    <script nonce="" type="text/javascript" src="/js/minid-menu.js"></script>
    <script nonce="" type="text/javascript" src="/js/minid-menu-toggle.js"></script>

    <link th:href="@{/fonts/open-sans/open-sans.min.css}" type="text/css" nonce="" rel="stylesheet" />
    <link th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" type="text/css" nonce="" rel="stylesheet" />
    <link th:href="@{/css/style.css}" type="text/css" nonce="" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/general.html :: blankHeader" class="h-Main"></header>
<main>
    <section class="Box">
        <div class="Box_Section-ServiceProvider">
            <div class="Box_Section_Title">N/A</div>
        </div>
        <div class="Box_header">
            <h1 class="Box_header-title with-logo logo-eid-gray">
                Logg inn med MinID
            </h1>
            <nav id="js-mi-menu" class="mi-Menu">
                <a class="mi-Menu_Trigger" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                    <img th:src="@{/images/svg/minid-m-kant.svg}" alt="MinID logo" width="62px" height="28px">
                    <span class="visuallyHidden">Meny</span>
                    <span class="fa fa-bars fa-lg"></span>
                </a>
                <ul>
                    <li>
                        <a class="h-Main_Menu_Element" href="/chooseLogin">
                            <span>MinID-innstillinger</span>
                        </a>
                    </li>
                    <li>
                        <a class="h-Main_Menu_Element" href="#"><!--TODO: legge til riktig href-->
                            <span>Bestill ny MinID</span>
                        </a>
                    </li>
                    <li>
                        <a class="h-Main_Menu_Element" href="#"><!--TODO: legge til riktig href-->
                            <span>Glemt passord</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <p th:if="${loginError}" class="error">Feil brukernavn eller passord</p>
        <div class="Box_main" id="minidwrapper">
            <div class="fm-Progress_Container">
                <div class="fm-Progress_Dot active"></div>
                <div class="fm-Progress_Dot"></div>
            </div>
            <form th:insert="fragments/forms.html :: userCredentials" id="userCredentials" class="login" th:action="@{/loginn}" method="post"></form>
        </div>
    </section>
</main>
</body>
</html>