<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MinID</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Autentisering med MinID">

  <link rel="preload" nonce="" th:href="@{/fonts/open-sans/open-sans.min.css}" as="style">
  <link rel="preload" nonce="" th:href="@{fonts/font-awesome/css/font-awesome.min.css}" as="style">
  <link rel="preload" nonce="" th:href="@{/css/style.css}" as="style">
  <link rel="preload" nonce="" th:href="@{/js/header.js}" as="script">
  <link rel="preload" nonce="" th:href="@{/js/minid-menu.js}" as="script">
  <link rel="preload" nonce="" th:href="@{/js/minid-menu-toggle.js}" as="script">
  <link rel="preload" nonce="" th:href="@{/js/jquery-3.6.1.min.js}" as="script">
  <link rel="preload" nonce="" th:href="@{/js/jquery-ui-1.13.2/jquery-ui.min.js}" as="script">

  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
  <link nonce="" rel="manifest" th:href="@{/site.webmanifest}">
  <link rel="mask-icon" th:href="@{/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script nonce="" type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
  <script nonce="" type="text/javascript" src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
  <script nonce="" type="text/javascript" src="/js/header.js"></script>
  <script nonce="" type="text/javascript" src="/js/minid-menu.js"></script>
  <script nonce="" type="text/javascript" src="/js/minid-menu-toggle.js"></script>

  <link th:href="@{/fonts/open-sans/open-sans.min.css}" type="text/css" nonce="" rel="stylesheet" />
  <link th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" type="text/css" nonce="" rel="stylesheet" />
  <link th:href="@{/css/style.css}" type="text/css" nonce="" rel="stylesheet" />
</head>
<body>
<header th:insert="fragments/general.html :: blankHeader" class="h-Main"></header>
<main>
  <section class="Box">
    <div class="Box_Section-ServiceProvider">
      <div class="Box_Section_Title">N/A</div>
    </div>
    <div class="Box_header">
      <h1 class="Box_header-title with-logo logo-eid-gray">
        Logg inn med MinID
      </h1>
      <nav id="js-mi-menu" class="mi-Menu">
        <a class="mi-Menu_Trigger" href="#" role="button" aria-haspopup="true" aria-expanded="true">
          <img th:src="@{/images/svg/minid-m-kant.svg}" alt="MinID logo" width="62px" height="28px">
          <span class="visuallyHidden">Meny</span>
          <span class="fa fa-bars fa-lg"></span>
        </a>
        <ul>
          <li>
            <a class="h-Main_Menu_Element" href="#"><!--TODO: legge til riktig href-->
              <span>MinID-innstillinger</span>
            </a>
          </li>
          <li>
            <a class="h-Main_Menu_Element" href="#"><!--TODO: legge til riktig href-->
              <span>Bestill ny MinID</span>
            </a>
          </li>
          <li>
            <a class="h-Main_Menu_Element" href="#"><!--TODO: legge til riktig href-->
              <span>Glemt passord</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="Box_main" id="minidwrapper">
      <div class="fm-Progress_Container">
        <div class="fm-Progress_Dot active"></div>
        <div class="fm-Progress_Dot"></div>
      </div>
      <div id="quarantineError" class="notification notification-error with-Icon icon-error" th:if="${quarantineError}">
        <span><strong>Feil:</strong> Du er i karantene. Du kan ikke logge inn med MinID.</span>
      </div>
      <div id="totpError" class="notification notification-error with-Icon icon-error"  th:if="${totpError}">
        <span><strong>Ugyldig kode:</strong> Koden består av 6 siffer</span>
      </div>
      <div id="otcError" class="notification notification-error with-Icon icon-error"  th:if="${otcError}">
        <span><strong>Ugyldig kode:</strong> Koden består av 5 tegn, og inneholder både tall og bokstaver</span>
      </div>
      <form th:if="${mfa_method == 'OTC'}">
        <fieldset>
          <div class="notification with-Icon icon-sms">
            <p> Du vil motta en engangskode på SMS fra Digdir. </p>
            <div class="highlight">
              <strong>Sist innlogget: <strong th:text="${#calendars.format(user.last_login_ms, 'dd.MM.yyyy HH:mm')}"/></strong>
            </div>
          </div>
        </fieldset>
      </form>
      <form th:if="${mfa_method == 'TOTP'}">
        <fieldset>
          <div class="notification with-Icon icon-sms">
            <p> Du vil nå motta en engangskode fra din TOTP app. </p>
            <div class="highlight">
                <strong>Sist innlogget: <strong th:text="${#calendars.format(user.last_login_ms, 'dd.MM.yyyy HH:mm')}"/></strong>
            </div>
          </div>
        </fieldset>
      </form>
      <form th:if="${mfa_method == 'OTC'}" class="mfa" th:action="@{/mfa}" method="post">
        <fieldset>
          <div class="fm-Fields">
            <div class="fm-Field">
              <label for="otc">KODE FRA SMS</label>
              <input type="text" id="otc" name="otc" placeholder="(5 tegn)"
                     autofocus="autofocus" maxlength="5"/>
            </div>
          </div>
          <div class="fm-Controls with-Normal with-Action">
            <button id="next_otc" class="btn btn-Action" name="next" type="submit">
              <span>Neste</span>
            </button>
            <button id="cancel_otc" class="btn btn-Normal" name="cancel" type="submit">
              <span>Avbryt</span>
            </button>
          </div>
        </fieldset>
      </form>
      <form th:if="${mfa_method == 'TOTP'}" class="mfa" th:action="@{/mfa}" method="post">
        <fieldset>
          <div class="fm-Fields">
            <div class="fm-Field">
              <label for="mfa">KODE FRA TOTP APP</label>
              <input type="tel" id="mfa" name="mfa" placeholder="6 siffer"
                     autofocus="autofocus" maxlength="6"/>
            </div>
          </div>
          <div class="fm-Controls with-Normal with-Action">
            <button id="next_totp" class="btn btn-Action" name="next" type="submit">
              <span>Neste</span>
            </button>
            <button id="cancel_totp" class="btn btn-Normal" name="submit" value="cancel" type="submit">
              <span>Avbryt</span>
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
</main>
<footer th:insert="~{fragments/general.html :: footer}"></footer>
</body>
</html>