<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dine kontaktopplysninger</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.min.css}" media="all">
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/open-sans/open-sans.css}" media="all">
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" media="all">
  <meta name="description" content="Dine kontaktopplysninger">
  <meta name="keywords" content="ID-porten, DIFI">
  <meta name="language" content="no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="body" class="null">
<header th:insert="fragments/general.html :: blankHeader" class="h-Main"></header>
<main>
  <section class="Box">
    <div class="Box_header">
      <h1 class="Box_header-title with-close-button">ENDRE PASSORD</h1>
      <span class="Box_header-close">
        <a href="./settings"></a>
      </span>
    </div>
    <div class="Box_main">
      <p th:if="${Error}" th:text="${Error}"></p>
      <form id="user" th:action="@{/newpassword}" method="post" autocomplete="off">
        <div class="fm-Fields">
          <div class="fm-Field">
            <label for="passwordOld">GAMMELT PASSORD:</label>
            <input id="passwordOld" name="passwordOld" type="password" value size="256">
          </div>
          <div class="fm-Field">
            <label for="password">NYTT PASSORD:</label>
            <input id="password" name="password" type="password" value size="256" maxlength="256">
          </div>
          <div class="fm-Field">
            <label for="password2">GJENTA NYTT PASSORD:</label>
            <input id="password2" name="password2" type="password" value size="256" maxlength="256">
          </div>
        </div>
        <div class="fm-Controls with-Normal with-Action">
          <button class="btn btn-Action" type="submit" name="lagre">
            <span>LAGRE</span></button>
          <a href="./settings" class="btn btn-Normal">
            <span>AVBRYT</span></a>
        </div>
      </form>
    </div>
  </section>
</main>
<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/handleButtonKeyPress.js"></script>
<script type="text/javascript" src="/js/minid-menu-toggle.js"></script>
</body>
</html>