<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dine kontaktopplysninger</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.min.css}" media="all">
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/open-sans/open-sans.css}" media="all">
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" media="all">
  <meta name="description" content="Dine kontaktopplysninger">
  <meta name="keywords" content="ID-porten, DIFI">
  <meta name="language" content="no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="body" class="null">
<header th:insert="fragments/general.html :: blankHeader" class="h-Main"></header>
<main>
  <section class="Box">
    <div class="Box_header">
      <h1 class="Box_header-title with-close-button">Steg 1</h1>
      <span class="Box_header-close">
        <a href="/mfa_options">
          <span class="fa fa-close">
            <span class="visuallyHidden">Avbryt</span>
          </span>
        </a>
      </span>
    </div>
    <div class="Box_main">
      <div class="Box_Section">
        <h1>Installer app</h1>
        <img src="/images/authenticators.png" alt="authenticators" width="100%" height="100%" >
        <p>Du kan selv velge hvilken applikasjon du vil benytte. Først må du installere applikasjonen på din telefon,
          for eksempel <a href="https://apps.apple.com/us/app/google-authenticator/id388497605">Google Authenticator</a>
          <a href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458">Microsoft Authenticator</a> eller
          <a href="https://apps.apple.com/us/app/twilio-authy/id494168017">Twilio Authy</a></p>
      </div>
      <div class="fm-Controls with-Normal with-Action">
        <a id="neste" class="btn btn-Action" href="/stepTwo">
          <span>Neste</span>
        </a>
        <a href="/mfa_options"
           class="btn btn-Normal"
           id="CANCELBUTTON_MINPROFIL">
          <span>Avbryt</span>
        </a>
      </div>
    </div>
  </section>
</main>
<script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/handleButtonKeyPress.js"></script>
<script type="text/javascript" src="/js/minid-menu-toggle.js"></script>
</body>
</html>